footer 
      footer.text-center.text-white(style='background-color: #aba698;')
        // Grid container
        .container.pt-4
          // Section: Social media
          section.mb-4
            // Facebook
            a.btn.btn-link.btn-floating.btn-lg.text-dark.m-1(href='#!', role='button', data-mdb-ripple-color='dark')
              i.fab.fa-facebook-f
            // Twitter
            a.btn.btn-link.btn-floating.btn-lg.text-dark.m-1(href='#!', role='button', data-mdb-ripple-color='dark')
              i.fab.fa-twitter
            // Google
            a.btn.btn-link.btn-floating.btn-lg.text-dark.m-1(href='#!', role='button', data-mdb-ripple-color='dark')
              i.fab.fa-google
            // Github
            a.btn.btn-link.btn-floating.btn-lg.text-dark.m-1(href='#!', role='button', data-mdb-ripple-color='dark')
              i.fab.fa-github
          // Section: Social media
        // Grid container
        // Copyright
        .text-center.text-dark.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
          | &copy; 2022 Copyright:
          a.text-dark(href='#') Neosofttechnology.com 
